@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    /* overflow: hidden; */
    background: #131418;
    color: rgb(235, 235, 235);
}

/* NAVBAR */
/* .app-name {
    background: linear-gradient(135deg, #09B83E, #384e6b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
} */

.custom-navbar {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background: #232428;
}

.custom-navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.logo .icon i {
  color: #09B83E;
  font-size: 1.6rem;
}

.logo .brand {
  color: #e5e7eb;
  font-weight: 700;
  font-size: 1.3rem;
}

.logo .brand {
  background: linear-gradient(90deg, #ffffff, #cbd5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 500;
  color: #cbd5e1 !important;
  padding: 8px 12px;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: #09B83E !important;
}

.nav-link i {
  font-size: 16px;
}

.nav-text {
    display: inline;
}

/* Flash messages */
.flash-messages {
    width: 100%;
    max-width: 800px;
    height: fit-content;
    border-radius: 7px;
}

.alert-danger {
    background: #E74C3C;
}

.alert-warning {
    background: #F1C40F;
}

.alert-info {
    background: #3498DB;
}

.alert-success {
    background: #2ECC71;
}

/* Landing */
.landing-page {
    min-height: 100vh;
    background: radial-gradient(circle at 0% 20%, rgba(6, 156, 53, 0.25) 20%, transparent 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-landing {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    align-items: center;
}

.hero-content {
    text-align: left;
}

.hero-title {
    font-size: clamp(2.5rem, 6vw, 4rem);
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.gradient-text {
    background: linear-gradient(90deg, #ffffff, #cbd5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtitle {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    color: #1c7937;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.1rem;
    color: #f9f9f9;
    line-height: 1.7;
    margin-bottom: 2.5rem;
    max-width: 500px;
}


/* AUTH */
.auth-section {
    background: rgba(40, 40, 40, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 7px;
    /* border: 1.5px solid rgba(6, 56, 53, 0.7); */
    margin: auto;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 12px 35px rgba(6, 156, 53, 0.2);
    color: whitesmoke;
}

.auth-container {
    padding: .75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.auth-title {
    margin-bottom: 1.25rem;
    font-weight: bold;
    font-size: 2.25rem;
    color: whitesmoke;
}

.login-oauth-btn,
.login-github-btn {
    width: 100%;
    background: #09B83E;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 7px;
    color: whitesmoke;
    transition: all 0.3s ease-in;
    font-size: 1rem;
    box-shadow: 0 8px 25px rgba(40, 44, 56, 0.3);
    cursor: pointer;
    display: block;
    text-align: center; 
}

a {
    text-decoration: none;
}

.login-oauth-btn:hover,
.login-github-btn:hover {
    background: #07a835;
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(6, 156, 53, 0.4);
    color: whitesmoke;
}

/* ======================DASHBOARD===================== */
.dashboard {
    padding: 2.5rem !important;
}

.btn-generate-roadmap {
    background: #09B83E;
    padding: 0.5rem 0.75rem;
    border: 1.2px solid #09B83E;
    border-radius: 7px;
    color: #131418;
    transition: all 0.3s ease-in;
    font-size: 1rem;
}

.btn-generate-roadmap:hover {
    background: #09B83E;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(6, 156, 53, 0.4);
}

.roadmap-icon {
  color: #09B83E;
  font-size: 12px;
}
/* .roadmap-icon {
  color: #a855f7;
  font-size: 12px;
} */

.project-title {
  font-size: 1rem;
  font-weight: 600;
  color: #e5e7eb;
}

.project-desc {
  font-size: 0.95rem;
  line-height: 1.5;
}

.project-learn {
  font-size: 0.85rem;
  line-height: 1.4;
}

.roadmap-item {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}



/* ===============LEADERBOARD=============== */
.medal-gold {
    color: #EFBF04;
}

.medal-silver {
    color: #C0C0C0;
}

.medal-bronze {
    color: #CD7F32;
}

/* ===============PROFILE================ */
#profileContainer {
    padding: 1.5rem 3rem;
}

.card {
    background: transparent;
    border: 1.5px solid #232C38;
    border-radius: 7px;
    padding: 1.5rem;
    transition: all 0.25s ease-in-out;
}

.card > * + * {
    margin-top: 0.75rem;
}

.card:hover {
    border: 1.5px solid #09B83E;
}

.card-title {
    color: #d8d8d8;
}

.btn-github,
.btn-dashboard-redirect {
    background: #09B83E;
    padding: 0.5rem 0.75rem;
    border: 1.2px solid #09B83E;
    border-radius: 7px;
    color: #131418;
    transition: all 0.3s ease-in;
    font-size: 1rem;
}

.btn-github:hover,
.btn-dashboard-redirect:hover {
    background: #09B83E;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(6, 156, 53, 0.4);
}

.btn-disconnect-github {
    background: transparent;
    padding: 0.5rem 0.75rem;
    border: 1.2px solid #09B83E;
    border-radius: 7px;
    color: #f3f3f3;
    transition: all 0.3s ease-in;
    font-size: 1rem;
}

.btn-disconnect-github:hover {
    color: #09B83E;
    border: none;
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(6, 156, 53, 0.4);
}


/* RESPONSIVENESS */
@media (max-width: 768px) {
    .app-name {
        display: none;
    }

    .nav-link i {
        display: none;
    }

    .nav-text {
        font-size: 0.95rem;
    }

    .nav-link {
        justify-content: center;
        flex-direction: column;
        padding: 0.5rem;
    }

    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav {
        gap: .5rem;
    }

    .hero-landing {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-description {
        max-width: 100%;
    }

    .auth-section {
        width: 100%;
    }

    .card {
        margin-bottom: 1rem;
    }

    .github-connection-buttons {
    }

    .btn-disconnect-github {
        background: transparent;
        padding: 0.5rem 0.75rem;
        border: 1.2px solid #09B83E;
        border-radius: 7px;
        color: #f3f3f3;
        transition: all 0.3s ease-in;
        font-size: 1rem;
    }

    .btn-disconnect-github:hover {
        color: #09B83E;
        border: none;
        transform: translateY(-3px);
        box-shadow: 0 12px 35px rgba(6, 156, 53, 0.4);
    }
}
